@media screen and (max-width: 1500px) {
    .pro {
        width: 200px;
    }
    .img {
        height: 280px;
    }
    .trick {
        right: 22%;
    }
}

@media screen and (max-width: 1300px) {
    .main-heading p {
        font-size: 25px;
    }
    h1 {
        font-size: 40px;
    }
    .boxes {
        width: 240px;
        height: 240px;
        right: 28%;
    }
    .box {
        width: 60px;
        height: 60px;
    }
    .big {
        width: 280px;
        height: 280px;
    }
    .skills {
        width: 350px;
    }
}
@media screen and (max-width: 1225px) {
    .pro {
        width: 180px;
    }
    .img {
        height: 250px;
    }
    .trick {
        right: 24%;
    }
    .about {
        width: 450px;
    }
    h2 {
        font-size: 30px;
    }
    .about p {
        font-size: 15px;
    }
}

@media screen and (max-width: 1150px) {
    .clock-container {
        width: 250px;
        height: 250px;
    }
    .clock {
        width: 120px;
        height: 120px;
    }
    .arrows {
        height: 40px;
    }
    .minute {
        height: 50px;
    }
    .second {
        height: 50px;
    }
    .logo a {
        font-size: 45px;
    }
    h1 {
        font-size: 35px;
    }
    .main-heading p {
        font-size: 20px;
    }
    .trick {
        right: 30%;
        top: 0;
    }
    .pro {
        width: 180px;
    }
    .img {
        height: 250px;
    }
    .about {
        width: 400px;
    }
    .skills {
        width: 300px;
    }
}
@media screen and (max-width: 1115px){
    .pro {
        width: 150px;
    }
    .img {
        height: 200px;
    }
    .main-container.active .skew {
        height: 75%;
    }
    h1 {
        font-size: 30px;
    }
    .main-heading p {
        font-size: 17px;
    }
}
@media screen and (max-width: 995px) {
    .nav-mode {
        width: 600px;
    }
    .navigation {
        width: 100%;
    }
    .clock-container {
        top: 20%;
    }
    .boxes {
        right: 10%;
    }
    .about {
        width: 280px;
    }
    h2 {
        font-size: 25px;
    }
    .about p {
        font-size: 12px;
    }
}

