.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.header-navigations {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
