@import 'src/assets/styles/colors';
@import 'src/assets/styles/fonts';

button {
    width: 120px;
    border: 0;
    padding: 7px;
    cursor: pointer;
    border-radius: 8px;
    background-color: $color-4;
    color: $color-1;
    border-right: 2px solid $color-2;
    transition: 0.3s;
}
button:hover {
    transform: scale(1.1);
}