@import 'src/assets/styles/colors';
@import 'src/assets/styles/fonts';


.skill-container {
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-family: $noto;
    position: relative;
    // transform: translateX(-700px);
    z-index: 10;
}
.skill-container .btn {
    position: absolute;
    right: -195px;
}
.skills {
    width: 300px;
    margin: 10px 0;
    border-radius: 8px;
    transition: 0.3s;
    border-bottom: 1px solid $color-2;
}
.skills:hover {
    transform: scale(1.2);
    border-bottom: 0;
    border-top: 1px solid $color-2 ;
}