<div class="personal-info">
    <div class="name-picture">
        <h2 class="name">{{ "PERSONAL_NAME" | translate }}</h2>
        <div class="img">
            <img src="/assets/images/github_img.jpg" alt="profile picture">
        </div>
    </div>
    <div class="contact-info">
        <div class="info">
            <div class="icon">
                <img src="/assets/icons/email.png" alt="email">
            </div>
            <span class="cont">tornikeburjanadze2@.gmail.com</span>
        </div>
        <div class="info">
            <div class="icon">
                <img src="/assets/icons/telephone.png" alt="email">
            </div>
            <span class="cont">+995 555 46 20 90</span>
        </div>
        <h4>{{ "EDUCATION" | translate }}</h4>
        <div class="info edu">
            <div>2020-2021</div>
            <div class="faculty">
                 <h3>{{ "ACADEMY" | translate }}</h3> 
                 <span>{{ "ACADEMY_FACULTY" | translate }}</span>
            </div>
        </div>
        <div class="info edu">
            <div>2015-2019</div>
            <div class="faculty"> 
                <h3>{{ "UNIVERCITY" | translate }}</h3> 
                <span>{{ "UNIVERCITY_FACULTY" | translate}}</span>
            </div>
        </div>
        <h4>{{ "TRAINING" | translate }}</h4>
        <div class="info edu">
            <div>2021</div>
            <div class="faculty">
                <h3>{{ "FIRST_TRAINIG" | translate }}</h3>
            </div>
        </div>
        <div class="info edu">
            <div>2018-2019</div>
            <div class="faculty">
                 <h3>{{ "SECOND_TRAINING" | translate }}</h3> 
                 <span>{{ "TRAINING_NAME" | translate }}</span>
            </div>
        </div>
    </div>
</div>