@import 'src/assets/styles/colors';
@import 'src/assets/styles/fonts';

.input-element {
    width: 350px;
    height: 80px;
    font-family: $noto;
    color: $color-1;
}
.input-field {
    position: relative;
}
.input {
    width: 100%;
    outline: none;
    padding: 8px;
    border: 0;
    border-radius: 8px;
    font-size: 13px;
    font-family: $noto;
    color: $color-2;
    background-color: $color-1;
    margin-top: 5px;
}
.input:focus {
    box-shadow: 0px 0px 10px $color-3;
}
.input-field--icon {
    position: absolute;
    width: 15px;
    top: 50%;
    transform: translateY(-50%);
    right: -25px;
}
.error {
    color: $errorColor;
    font-size: 13px;
}