@import 'src/assets/styles/colors';
@import 'src/assets/styles/fonts';

.input-element {
    width: 350px;
    height: 80px;
    font-family: $noto;
    color: $color-1;
}
.input-field {
    position: relative;
}
.input {
    width: 100%;
    outline: none;
    padding: 8px;
    border: 0;
    border-radius: 8px;
    font-size: 13px;
    font-family: $noto;
    color: $color-1;
    background-color: transparent;
    border-bottom: 1px solid $color-2;
    margin-top: 5px;
    transition: 0.3s;
}
.input::placeholder {
    color: $color-1;
}
.input:hover {
    border-bottom: 0;
    border-top: 1px solid $color-2;
}
.input:focus {
    box-shadow: 0px 1px 2px $color-3;
    border-bottom: 0;
    border-top: 1px solid $color-2;
}
.input-field--icon {
    position: absolute;
    width: 15px;
    top: 50%;
    transform: translateY(-50%);
    right: -25px;
}
.error {
    color: $errorColor;
    font-size: 13px;
}