@import 'src/assets/styles/colors';
@import 'src/assets/styles/fonts';

.form {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-radius: 8px;
}
.contact-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
label {
    margin-bottom: 5px;
}