<form class="form" action="">
    <div class="contact-info">
        <div class="info">
            <app-input ></app-input>
        </div>
        <div class="info">
            <app-input></app-input>
        </div>
    </div>
    <div class="contact-info">
        <div class="info">
            <app-input></app-input>
        </div>
        <div class="info">
            <app-input></app-input>
        </div>
    </div>
    <label for="">tell me about your proposal</label>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <button type="submit">send</button>
</form>