<form class="form" action="https://mailthis.to/tornikeburjanadze2@gmail.com" [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)" [method]="'POST'">
    <app-input [control]="$any(contactForm.get('fName'))" [placeHolder]="'first name' | titlecase" [labelText]="'first name:'"></app-input>
    <app-input [control]="$any(contactForm.get('lName'))"  [placeHolder]="'last name' | titlecase" [labelText]="'last name:'"></app-input>
    <app-input type="email" [control]="$any(contactForm.get('email'))"  [placeHolder]="'email' | titlecase" [labelText]="'email:'"></app-input>
    <app-button [loader]="loader" [dissable]="contactForm.invalid" [text]="'send'"></app-button>
</form>