.form {
    width: 600px;
    display: flex;
    flex-direction: column;
}
.contact-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
}