

@font-face {
    font-family: 'Noto Serif Georgian';
    src: url('../fonts/NotoSerifGeorgian-Regular.woff2') format('woff2'),
        url('../fonts/NotoSerifGeorgian-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.woff2') format('woff2'),
        url('../fonts/Pacifico-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Great Vibes';
    src: url('../fonts/GreatVibes-Regular.woff2') format('woff2'),
        url('../fonts/Pacifico-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




$noto : 'Noto Serif Georgian';
$great : 'Great Vibes';
$pac : 'Pacifico';