<div class="projects">
    <div class="flex framework">
        <div class="js framework-proj">
            <h2>React</h2>
            <div class="flex">
                <div class="js-proj other-proj" *ngFor="let reactProject of reactProjects">
                    <app-project-item [Projects]="reactProject"></app-project-item>
                </div>
            </div>
        </div>
        <div class="js framework-proj">
            <h2>Angular</h2>
            <div class="flex">
                <div class="js-proj other-proj" *ngFor="let angularProject of angularProjects">
                    <app-project-item [Projects]="angularProject"></app-project-item>
                </div>
            </div>
        </div>
        <div class="js framework-proj">
            <h2>PHP</h2>
            <div class="flex">
                <div class="js-proj other-proj" *ngFor="let phpProject of phpProjects">
                    <app-project-item [Projects]="phpProject"></app-project-item>
                </div>
            </div>
        </div>
    </div>
    <div class="js">
        <h2>JavaScript</h2>
        <div class="flex">
            <div class="js-proj" *ngFor="let jsProject of jsProjects">
                <app-project-item [Projects]="jsProject"></app-project-item>
            </div>
        </div>
    </div>
</div>