@import 'src/assets/styles/colors';
@import 'src/assets/styles/fonts';

button {
    padding: 10px 20px;
    cursor: pointer;
    border: 0;
    background-color: $color-2;
    color: $color-3;
    font-family: $noto;
    border-radius: 8px;
    border-left: 1px solid $color-3;
    border-right: 1px solid $color-3;
    transition: 0.3s;
}
button:hover {  
    transform: scale(1.1);
}